# etcdv3 settings
etcdv3:
  hosts: {%- for eh in groups[etcd_hosts_group] -%}{{ eh.ansible_default_ipv4[address] }}:{{ etcd_client_port }}% if not loop.last %},{% endif %}{%- endfor -%} 
  # parameter hosts is minimal required, other parameters will be defined later
  # use_proxies
  # url
  # proxy
  # srv
  # srv_suffix
  # protocol
  # username
  # password
  # cacert
  # cert
  # key

